CRS/xml/schemas/job.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="jobs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="job" type="jobType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="jobType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="ticketId" type="xs:int"/>
            <xs:element name="dateStart" type="xs:date"/>
            <xs:element name="dateFinish" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
