CRS/xml/schemas/technician.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="technicians">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="technician" type="technicianType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="technicianType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="fullName" type="xs:string"/>
            <xs:element name="salary" type="xs:float"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
